# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import pandas as pd

# Load the data from the provided URL
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Display the first few rows of the dataframe to understand the structure and column names
print(df.head())

# Function to clean column names
def clean_column_names(columns):
    cleaned_columns = []
    for column in columns:
        # Convert to lower case
        column = column.lower()
        # Replace white spaces with underscores
        column = column.replace(' ', '_')
        # Replace 'st' with 'state'
        column = column.replace('st', 'state')
        cleaned_columns.append(column)
    return cleaned_columns

# Clean the column names
df.columns = clean_column_names(df.columns)

# Display the cleaned column names
print(df.columns)

# Optionally, save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_file1.csv', index=False)

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [4]:
import pandas as pd

# Load the data from the provided URL
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Display the first few rows of the dataframe to understand the structure
print(df.head())

# Display the column names to identify any discrepancies
print(df.columns)

# Assuming 'Gender' column is named differently, let's check and clean the data

# Standardize the Gender column (update the column name if it is different)
def clean_gender(gender):
    if pd.isna(gender):
        return gender
    if gender.lower() in ['female', 'femal']:
        return 'F'
    elif gender.lower() in ['male', 'm']:
        return 'M'
    return gender

if 'Gender' in df.columns:
    df['Gender'] = df['Gender'].apply(clean_gender)
else:
    print("Gender column not found. Please check the column names.")

# Replace state abbreviations with full names (update the column name if it is different)
state_replacements = {
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
}

if 'State' in df.columns:
    df['State'] = df['State'].replace(state_replacements)
else:
    print("State column not found. Please check the column names.")

# Standardize Education values (update the column name if it is different)
if 'Education' in df.columns:
    df['Education'] = df['Education'].replace('Bachelors', 'Bachelor')
else:
    print("Education column not found. Please check the column names.")

# Clean Customer Lifetime Value by removing '%' character (update the column name if it is different)
if 'Customer Lifetime Value' in df.columns:
    df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace('%', '')
else:
    print("Customer Lifetime Value column not found. Please check the column names.")

# Simplify Vehicle Class values (update the column name if it is different)
vehicle_class_replacements = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}

if 'Vehicle Class' in df.columns:
    df['Vehicle Class'] = df['Vehicle Class'].replace(vehicle_class_replacements)
else:
    print("Vehicle Class column not found. Please check the column names.")

# Display the cleaned dataframe
print(df.head())

# Optionally, save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_file1.csv', index=False)

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Gender column not found. Please check the column names.
State column not found. Please check the column names.
  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor               697953.59
2  AI49188      Nevada      F              Bachelor              1288743.17
3  WW63253  California      M              Bachelor               764586.18
4  GA49547  Washington      M  High School or Below               536307.65

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [5]:
# Display the first few rows and the columns of the dataframe to understand the structure
print(df.head())
print(df.columns)

# Ensure 'Customer Lifetime Value' is numeric by removing '%' and converting to float
if 'Customer Lifetime Value' in df.columns:
    df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace('%', '').astype(float)
else:
    print("Customer Lifetime Value column not found. Please check the column names.")

# Correct 'Number of Open Complaints' by extracting the middle value
if 'Number of Open Complaints' in df.columns:
    def extract_complaints(value):
        if isinstance(value, str):
            parts = value.split('/')
            if len(parts) == 3:
                return int(parts[1])  # taking the middle value
        return value

    df['Number of Open Complaints'] = df['Number of Open Complaints'].apply(extract_complaints).astype(int)
else:
    print("Number of Open Complaints column not found. Please check the column names.")

# Display the cleaned dataframe
print(df.head())

# Optionally, save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_file1.csv', index=False)

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor               697953.59
2  AI49188      Nevada      F              Bachelor              1288743.17
3  WW63253  California      M              Bachelor               764586.18
4  GA49547  Washington      M  High School or Below               536307.65

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [6]:
print(df.head())
print(df.columns)

# Identify columns with null values
null_values = df.isnull().sum()
print("Null values in each column:\n", null_values)

# Strategy: Fill null values
# - For numerical columns: fill with mean
# - For categorical columns: fill with mode

# Fill numerical columns with mean
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numerical_cols:
    df[col].fillna(df[col].mean(), inplace=True)

# Fill categorical columns with mode
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Verify that null values have been handled
null_values_after = df.isnull().sum()
print("Null values in each column after handling:\n", null_values_after)

# Convert all numeric variables to integers
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_cols] = df[numeric_cols].astype(int)

# Display the cleaned dataframe
print(df.head())

# Optionally, save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_file1.csv', index=False)

  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Null values in each column:
 Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64
Null values in each column after handling:
 Customer                     0
ST                           0
GENDER                       0
Education                    0
Customer Lifetime Value      0
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Policy Type                  0
Vehicle Class                0
Total Claim Amount           0
dtype: int64
  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington      F                Master                   793690
1  QZ44356     Arizona      F              Bachelor                   697953
2  AI49188      Nevada      F              Bachelor                  1288743
3  WW63253  California      M              Bachelor                   764586
4  GA49547  Washington      M  High School or Below                   536307

   Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0       0                  1000                    1/0/00   Personal Auto
1       0                    94                    1/0/00   Personal Auto
2   48767                   108                    1/0/00   Personal Auto
3       0                   106                    1/0/00  Corporate Auto
4   36357                    68                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [7]:
print(df.head())
print(df.columns)

# Identify duplicate rows
duplicates = df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

# Strategy: Drop all duplicate rows
df = df.drop_duplicates()

# Verify that duplicates have been handled
duplicates_after = df.duplicated()
print(f"Number of duplicate rows after handling: {duplicates_after.sum()}")

# Reset the index to ensure consistency
df.reset_index(drop=True, inplace=True)

# Display the cleaned dataframe
print(df.head())

  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington      F                Master                   793690
1  QZ44356     Arizona      F              Bachelor                   697953
2  AI49188      Nevada      F              Bachelor                  1288743
3  WW63253  California      M              Bachelor                   764586
4  GA49547  Washington      M  High School or Below                   536307

   Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0       0                  1000                    1/0/00   Personal Auto
1       0                    94                    1/0/00   Personal Auto
2   48767                   108                    1/0/00   Personal Auto
3       0                   106                    1/0/00  Corporate Auto
4   36357                    68                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Number of duplicate rows: 2936
Number of duplicate rows after handling: 0
  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington      F                Master                   793690
1  QZ44356     Arizona      F              Bachelor                   697953
2  AI49188      Nevada      F              Bachelor                  1288743
3  WW63253  California      M              Bachelor                   764586
4  GA49547  Washington      M  High School or Below                   536307

   Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0       0                  1000                    1/0/00   Personal Auto
1       0                    94                    1/0/00   Personal Auto
2   48767                   108                    1/0/00   Personal Auto
3       0                   106                    1/0/00  Corporate Auto
4   36357                    68                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17

# Bonus: Challenge : Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
import pandas as pd

# Load your cleaned and formatted data into a DataFrame named 'cleaned_data'

# Assuming you have loaded your cleaned data into a DataFrame named 'cleaned_data'

# Review statistics for total claim amount and customer lifetime value
print("Statistics for Total Claim Amount:")
print(cleaned_data['Total Claim Amount'].describe())

print("\nStatistics for Customer Lifetime Value:")
print(cleaned_data['Customer Lifetime Value'].describe())

# Identify customers with high policy claim amount (top 25%) and low customer lifetime value (bottom 25%)
high_claim_amount_threshold = cleaned_data['Total Claim Amount'].quantile(0.75)
low_lifetime_value_threshold = cleaned_data['Customer Lifetime Value'].quantile(0.25)

high_claim_amount_customers = cleaned_data[cleaned_data['Total Claim Amount'] > high_claim_amount_threshold]
low_lifetime_value_customers = cleaned_data[cleaned_data['Customer Lifetime Value'] < low_lifetime_value_threshold]

# Create a DataFrame containing information about these customers
high_claim_low_lifetime_df = pd.merge(high_claim_amount_customers, low_lifetime_value_customers, how='inner')

# Calculate summary statistics
summary_statistics = high_claim_low_lifetime_df[['Total Claim Amount', 'Customer Lifetime Value']].describe()
print("\nSummary Statistics for High Claim Amount and Low Lifetime Value Customers:")
print(summary_statistics)